User root
Host koaTest
HostName 122.114.119.66
#Port 80
StrictHostKeyChecking no
IdentityFile ~/.ssh/znn_key
IdentitiesOnly yes
Protocol 2
Compression yes
ServerAliveInterval 60
ServerAliveCountMax 20
LogLevel INFO
